<p-accordion [multiple]="true" [activeIndex]="[0,1,2,3]">
  <p-accordionTab header="Research background">
    <p>
      Industry 4.0 enables data collection from injection molding production lines.
    </p>
  </p-accordionTab>
  <p-accordionTab header="Research motivation">
    <p>
      After installing sensors on existing injection molding machines in Taiwan, there is a lack of knowledge on how
      to
      use them effectively, and the existing platforms are fragmented.
    </p>
  </p-accordionTab>
  <p-accordionTab header="Research purpose">
    <p>
      Integrating data platforms and incorporating ML models to assist businesses in digital transformation.
    </p>
  </p-accordionTab>
  <p-accordionTab header="Research method">
    <p>
      1.Collect data formats for Linki2 and QAD.
      2.Design web pages.
      3.Incorporate existing ML models.
      4.Perform laboratory testing.
      5.Perform testing within the existing company.
    </p>
  </p-accordionTab>
</p-accordion>
