<div class="col-12">
  <div class="grid">

    <div class="col-12">
      <div class="flex mt-4">
        <p-fileUpload #fileUpload mode="basic" class="mr-2"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (onSelect)="onUpload($event)"
          chooseIcon="pi-upload" pTooltip="上傳檔案"></p-fileUpload>

        <!-- 模具下拉選單 -->
        <span *ngIf="uploadFile" class="p-float-label">
          <p-dropdown [options]="moldData" optionLabel="name" optionValue="mold_id" class="mr-2"
            [(ngModel)]="selectedMold" (onChange)="searchModel()">
            <ng-template let-option pTemplate="item" appendTo="body">
              <span>{{option.name}}</span>
            </ng-template>
          </p-dropdown>
          <label>模具</label>
        </span>

        <!-- 機台下拉選單 -->
        <span *ngIf="uploadFile" class="p-float-label">
          <p-dropdown [options]="machineData" optionLabel="name" optionValue="machine_id" class="mr-2"
            [(ngModel)]="selectedMachine" (onChange)="searchModel()">
            <ng-template let-option pTemplate="item" appendTo="body">
              <span>{{option.name}}</span>
            </ng-template>
          </p-dropdown>
          <label>機台</label>
        </span>

        <span *ngIf="uploadFile" class="p-float-label">
          <p-multiSelect [options]="tableData[0]" [(ngModel)]="selectedInputs" class="mr-2" appendTo="body">
            <ng-template let-option pTemplate="item">
              <span>{{option}}</span>
            </ng-template>
          </p-multiSelect>
          <label>輸入指標</label>
        </span>

        <!-- 模型下拉選單 -->
        <span *ngIf="uploadFile" class="p-float-label">
          <p-dropdown class="mr-2" [options]="FileData" [(ngModel)]="selectedModel" optionLabel="name"
            [style]="{width: '15rem'}"></p-dropdown>
          <label>模型</label>
        </span>

        <!-- 預測按鈕 -->
        <p-button *ngIf="uploadFile" icon="pi pi-arrow-right" styleClass="mr-2 p-button-rounded" pTooltip="進行預測"
          (onClick)="forecasting()" [loading]="loading"></p-button>
      </div>
    </div>

    <!-- csv 表格 -->
    <div class="col-4">
      <div class="card">
        <div class="flex mt-2">
          <p-table [value]="tableData" class="w-full">

            <ng-template pTemplate="caption">
              {{file_name}}
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let column of tableData[0]">{{ column }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
              <tr *ngIf="rowIndex > 0">
                <td *ngFor="let column of row">{{ column }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <!-- csv 圖表 -->
    <div class="col-8">
      <div class="card">
        <ng-container *ngFor="let chartData of data_chart">
          <p-chart type="line" [data]="chartData"></p-chart>
        </ng-container>
      </div>
    </div>

  </div>
</div>

<!-- 預測結果彈跳視窗 -->
<p-dialog [(visible)]="predictionDialog" [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="header">
    <span class="text-xl font-bold">預測結果</span>
    執行時間：{{executionTimeInSeconds}} 秒
  </ng-template>

  <ng-template pTemplate="content">

    <p-fileUpload #fileUpload2 mode="basic" class="mr-2"
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (onSelect)="onUpload2($event)"
      chooseLabel="上傳實際資料計算RMSE" chooseIcon="pi-upload" pTooltip="上傳檔案"></p-fileUpload>

    <p-table [value]="outputData" class="w-full">
      <!-- <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of outputData[0]">{{ column }}</th>
          </tr>
        </ng-template> -->
      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
        <tr>
          <td *ngFor="let column of row">{{ column }}</td>
        </tr>
      </ng-template>
    </p-table>

  </ng-template>

  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>

<!-- RMSE彈跳視窗 -->
<p-dialog [(visible)]="rmseDialog" [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="header">
    <span class="text-xl font-bold">RMSE</span>
  </ng-template>

  <ng-template pTemplate="content">

    <p-table [value]="rmseData" class="w-full">
      <!-- <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of outputData[0]">{{ column }}</th>
          </tr>
        </ng-template> -->
      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
        <tr>
          <td *ngFor="let column of row">{{ column }}</td>
        </tr>
      </ng-template>
    </p-table>

  </ng-template>

  <ng-template pTemplate="footer">
  </ng-template>
</p-dialog>

<!-- table 欄位選擇視窗 -->
<!-- <p-dialog [(visible)]="selectInputDialog" [style]="{width: '400px',height:'400px'}" [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="header">
    <span class="text-xl font-bold">選擇輸入指標</span>
  </ng-template>

  <ng-template pTemplate="content">

    <p-multiSelect [options]="tableData[0]" [(ngModel)]="selectedInputs" class="mr-2" appendTo="body">
      <ng-template let-option pTemplate="item">
        <span>{{option}}</span>
      </ng-template>
    </p-multiSelect>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveSelected()"></button>
  </ng-template>
</p-dialog> -->

<p-toast></p-toast>