<div class="col-12">
  <div class="grid">
    <div class="col-4">
      <div class="card">
        <div class="flex mt-2">
          <p-fileUpload #fileUpload mode="basic"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="mr-2"
            (onSelect)="onUpload($event)" chooseIcon="pi-upload"></p-fileUpload>
          <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
        </div>
        <div class="flex mt-2">
          <p-table [value]="tableData" class="w-full">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let column of tableData[0]">{{ column }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
              <tr *ngIf="rowIndex > 0">
                <td *ngFor="let column of row">{{ column }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </div>
    </div>

    <div class="col-8">
      <div class="card">
        <ng-container *ngFor="let chartData of data_chart">
          <p-chart type="line" [data]="chartData"></p-chart>
        </ng-container>
      </div>
    </div>

  </div>
</div>
